.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #f9d423 , #ff4e50);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}

section{
    padding: 0 19%;
}
.hero-text p{
    font-size: 40px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.hero-text h1{
    font-size: 50px;
    line-height: 1;
    color: #fff;
    margin: 0 0 45px;
}
.hero-img img{
    height: 70vh;
}
.hero-text h4{
    color: #fff;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-text a{
    display: inline-block;
    color: #000000;
    background: #fff;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
